PBI Monitoring ADF/pipeline/Load Reporting Dimensions.json
{
	"name": "Load Reporting Dimensions",
	"properties": {
		"activities": [
			{
				"name": "Get Procedures From Config Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n\tprocedure_name\nFROM\n\t[config].[stored_procedures]\nWHERE\n\tprocedure_type = 'REPORTING DIMENSION'\n\tAND is_active = 1",
						"queryTimeout": "00:01:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"p_SchemaName": "n/a",
							"p_TableName": "n/a"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Procedure",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Procedures From Config Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Procedures From Config Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "00:30:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().procedure_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqldb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Power BI Monitoring/Stored procedures"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-14T11:32:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}